PORT=4000
NODE_ENV=development

# MongoDB
#MONGO_URI=mongodb+srv://darshanpanchal14:Darshan@1408@cluster0.dy2tr6b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://darshanpanchal14:Darshan@1408@cluster.mongodb.net/healthsphere?retryWrites=true&w=majority
# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d

# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key-here

# Email (for reminders)
EMAIL_USER=abc@gmail.com
EMAIL_PASS=abc@gmail.com
EMAIL_SERVICE=gmail

# Frontend URL
FRONTEND_URL=http://localhost:5173

# File Upload
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads
